In [1]:
#Import the required libraries and modules that you would need.
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
#Read that data into Python and call the dataframe donors.
numerical= pd.read_csv(r'C:\Users\Quaresma\Documents\IRONHACK\Labs\35 lab-handling-data-imbalance-classification\numerical.csv')
targets=  pd.read_csv(r'C:\Users\Quaresma\Documents\IRONHACK\Labs\35 lab-handling-data-imbalance-classification\target.csv')

In [3]:
#Check the datatypes of all the columns in the data.

donors= pd.concat([numerical, targets], axis= 1)
# when we have two or more targets, we should drop.
donors= donors.drop('TARGET_D', axis=1)
donors

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,TARGET_B
0,0,60.000000,5,9,0,0,39,34,18,10,...,5.0,12.0,10.0,4,7.741935,95515,0,4,39,0
1,1,46.000000,6,9,16,0,15,55,11,6,...,10.0,25.0,25.0,18,15.666667,148535,0,2,1,0
2,1,61.611649,3,1,2,0,20,29,33,6,...,2.0,16.0,5.0,12,7.481481,15078,1,4,60,0
3,0,70.000000,1,4,2,0,23,14,31,3,...,2.0,11.0,10.0,9,6.812500,172556,1,4,41,0
4,0,78.000000,3,2,60,1,28,9,53,26,...,3.0,15.0,15.0,14,6.864865,7112,1,2,26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,25.0,25.0,25.0,9,25.000000,184568,0,1,12,0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,20.0,20.0,20.0,9,20.000000,122706,1,1,2,0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,3.0,10.0,10.0,3,8.285714,189641,1,3,34,0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,5.0,21.0,18.0,4,12.146341,4693,1,4,11,1
95411,2,80.000000,5,8,3,1,33,22,27,8,...,10.0,201.0,100.0,6,96.794872,185114,1,1,12,0

In [4]:
#Check for null values in the dataframe. Replace the null values using the methods learned in class.
nulls_percent_df=pd.DataFrame(donors.isna().sum()/len(donors)).reset_index()
nulls_percent_df.columns= ['columns_name', 'nulls_percentage']
nulls_percent_df.sort_values(by= ['nulls_percentage'], ascending= False)

    columns_name  nulls_percentage
0          TCODE               0.0
208         EIC5               0.0
215        EIC12               0.0
214        EIC11               0.0
213        EIC10               0.0
..           ...               ...
104        ETHC1               0.0
103        HHD12               0.0
102        HHD11               0.0
101        HHD10               0.0
315     TARGET_B               0.0

[316 rows x 2 columns]

In [5]:
#Split the data into numerical and catagorical. Decide if any columns need their dtype changed.

In [6]:
numerical= donors.select_dtypes(include=np.number)
categorical= donors.select_dtypes(exclude=np.number)
numerical
# no categorical

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,TARGET_B
0,0,60.000000,5,9,0,0,39,34,18,10,...,5.0,12.0,10.0,4,7.741935,95515,0,4,39,0
1,1,46.000000,6,9,16,0,15,55,11,6,...,10.0,25.0,25.0,18,15.666667,148535,0,2,1,0
2,1,61.611649,3,1,2,0,20,29,33,6,...,2.0,16.0,5.0,12,7.481481,15078,1,4,60,0
3,0,70.000000,1,4,2,0,23,14,31,3,...,2.0,11.0,10.0,9,6.812500,172556,1,4,41,0
4,0,78.000000,3,2,60,1,28,9,53,26,...,3.0,15.0,15.0,14,6.864865,7112,1,2,26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,25.0,25.0,25.0,9,25.000000,184568,0,1,12,0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,20.0,20.0,20.0,9,20.000000,122706,1,1,2,0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,3.0,10.0,10.0,3,8.285714,189641,1,3,34,0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,5.0,21.0,18.0,4,12.146341,4693,1,4,11,1
95411,2,80.000000,5,8,3,1,33,22,27,8,...,10.0,201.0,100.0,6,96.794872,185114,1,1,12,0

In [7]:
print(donors['TARGET_B'].value_counts())

0    90569
1     4843
Name: TARGET_B, dtype: int64

In [8]:
#Split the data into a training set and a test set.
from sklearn.model_selection import train_test_split
X = donors.drop(columns=['TARGET_B'])
y = donors['TARGET_B']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

LR= LogisticRegression()
LR.fit(X_train,y_train)
LR.score(X_test,y_test)

pred= LR.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97     18105
           1       0.05      0.00      0.00       978

    accuracy                           0.95     19083
   macro avg       0.50      0.50      0.49     19083
weighted avg       0.90      0.95      0.92     19083

### UNDERSAMPLING

#### Using a sample of the majority class to equal the minority class

In [19]:
y_train.value_counts()
df = pd.concat([X_train,y_train], axis= 1)
df['TARGET_B'].value_counts()

0    72464
1     3865
Name: TARGET_B, dtype: int64

In [11]:
category_0= df[df['TARGET_B']==0]
category_1=df[df['TARGET_B']==1]

In [12]:
category_0 = category_0.sample(len(category_1))
category_0

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,TARGET_B
18986,0,75.000000,4,6,26,3,49,31,38,10,...,3.0,13.0,13.0,6,7.235294,146465,1,1,9,0
57313,0,53.000000,5,9,0,0,38,34,24,6,...,3.0,10.0,10.0,4,7.833333,178108,0,3,58,0
13807,1,50.000000,5,9,0,0,38,29,45,8,...,3.0,15.0,15.0,3,11.000000,51406,0,1,60,0
77091,0,63.000000,4,3,49,0,32,21,41,5,...,5.0,20.0,20.0,7,12.500000,72566,1,1,39,0
7831,1,61.611649,4,8,0,1,37,44,25,3,...,10.0,15.0,15.0,10,11.666667,160004,1,2,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26669,1,72.000000,6,9,0,0,32,45,38,5,...,5.0,20.0,20.0,7,12.000000,166762,1,1,11,0
88089,4,73.000000,7,1,3,0,21,19,37,8,...,25.0,50.0,25.0,5,33.333333,54450,1,3,61,0
91089,28,73.000000,5,8,5,0,39,32,50,12,...,5.0,21.0,21.0,8,13.700000,8014,1,1,16,0
78985,28,61.611649,5,9,0,1,33,21,32,5,...,5.0,15.0,15.0,15,9.000000,73334,1,2,19,0
1142,2,83.000000,5,9,0,0,59,3,82,0,...,5.0,25.0,20.0,6,14.272727,43097,1,4,11,0

In [13]:
df_un = pd.concat([category_0,category_1], axis= 0)
df_un['TARGET_B'].value_counts()

0    3865
1    3865
Name: TARGET_B, dtype: int64

In [14]:
X_train_un=df_un.drop(columns=['TARGET_B'])
y_train_un=df_un['TARGET_B']


LR= LogisticRegression()
LR.fit(X_train_un,y_train_un)
LR.score(X_test,y_test)

pred= LR.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.95      0.57      0.72     18105
           1       0.06      0.48      0.10       978

    accuracy                           0.57     19083
   macro avg       0.51      0.53      0.41     19083
weighted avg       0.91      0.57      0.69     19083

#### TOMEK LINKS

In [15]:
df = pd.concat([X_train,y_train], axis= 1)

In [16]:
from imblearn.under_sampling import TomekLinks

tl = TomekLinks()
y = df['TARGET_B']
X = df.drop(['TARGET_B'], axis=1)
X_tl, y_tl = tl.fit_resample(X, y)
y_tl.value_counts()

0    70377
1     3865
Name: TARGET_B, dtype: int64

In [17]:
LR= LogisticRegression()
LR.fit(X_tl,y_tl)
LR.score(X_test,y_test)

pred= LR.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97     18105
           1       0.05      0.00      0.00       978

    accuracy                           0.95     19083
   macro avg       0.50      0.50      0.49     19083
weighted avg       0.90      0.95      0.92     19083

### OVERSSAMPLING

#### Duplicanting some rows of minority class

In [18]:
category_0= df[df['TARGET_B']==0]
category_1=df[df['TARGET_B']==1]
df['TARGET_B'].value_counts()

0    72464
1     3865
Name: TARGET_B, dtype: int64

In [20]:
from sklearn.utils import resample
category_1 = resample(category_1,
             replace=True,
             n_samples=len(category_0),
             random_state=42)
category_1

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,TARGET_B
3646,1,61.611649,2,9,0,0,28,38,28,7,...,2.0,20.0,20.0,10,5.736842,57593,0,2,62,1
60430,0,61.611649,2,4,0,0,27,26,38,6,...,3.0,13.0,11.0,5,8.000000,48367,1,3,53,1
394,1,75.000000,2,7,12,0,24,20,27,9,...,5.0,11.0,11.0,3,9.000000,189749,0,4,13,1
32522,0,52.000000,3,5,1,0,33,21,52,12,...,4.0,10.0,5.0,30,5.947368,71604,1,3,32,1
31185,0,61.611649,5,9,0,0,46,17,44,10,...,2.0,6.0,6.0,2,4.555556,74552,0,4,53,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60674,1,64.000000,2,5,34,0,33,29,42,15,...,3.0,15.0,10.0,3,8.875000,167838,1,4,32,1
31094,1,61.611649,6,1,12,1,30,23,36,9,...,3.0,20.0,20.0,2,9.250000,22149,1,1,52,1
25312,0,43.000000,5,5,12,0,24,32,55,5,...,6.0,20.0,6.0,2,13.000000,139363,1,2,48,1
23409,1,71.000000,6,8,1,0,59,51,20,6,...,3.0,10.0,10.0,11,9.125000,25226,1,4,11,1
31423,0,45.000000,6,8,1,2,25,61,12,11,...,3.0,13.0,13.0,5,6.400000,164167,1,1,5,1

In [21]:
data_over = pd.concat([category_0, category_1], axis=0)
#shuffling the data
data_over = data_over.sample(frac=1)
print(data_over['TARGET_B'].value_counts())

1    72464
0    72464
Name: TARGET_B, dtype: int64

In [22]:
X_train_over=data_over.drop(columns=['TARGET_B'])
y_train_over=data_over['TARGET_B']

LR= LogisticRegression()
LR.fit(X_train_over,y_train_over)
LR.score(X_test,y_test)

pred= LR.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.95      0.57      0.72     18105
           1       0.06      0.50      0.11       978

    accuracy                           0.57     19083
   macro avg       0.51      0.54      0.41     19083
weighted avg       0.91      0.57      0.68     19083

#### SMOTE

In [24]:
df = pd.concat([X_train,y_train], axis= 1)

In [25]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
y = df['TARGET_B']
X = df.drop(['TARGET_B'], axis=1)
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

0    72464
1    72464
Name: TARGET_B, dtype: int64

In [26]:
LR= LogisticRegression()
LR.fit(X_sm,y_sm)
LR.score(X_test,y_test)

pred= LR.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.95      0.55      0.70     18105
           1       0.06      0.51      0.11       978

    accuracy                           0.55     19083
   macro avg       0.51      0.53      0.40     19083
weighted avg       0.91      0.55      0.67     19083