In [17]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [18]:
donors = pd.read_csv('/Users/giulianamiranda/Downloads/learningSet.txt')

In [19]:
donors.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [4]:
donors.size

45893172

In [5]:
# Checking the dtypes
donors.dtypes.value_counts()

int64      310
float64     97
object      74
Name: count, dtype: int64

In [6]:
# Check for null values in the dataframe. Replace the null values using the methods learned in class.
# Because it is a big table, with over 400 rows, the best way is to to show the percentage of NaN values 

nulls_percent_df = donors.isna().sum()/len(donors)

nulls_percent_df = pd.DataFrame(donors.isna().sum()/len(donors)).reset_index()

nulls_percent_df.columns = ['columns_name', 'nulls_percentage']
nulls_percent_df.sort_values(by = ['nulls_percentage'], ascending = False)

# Because we have a lot of rows, we I'm considering 30% of the data missing as a criteria to drop the columns

threshold = 0.90
condition = nulls_percent_df['nulls_percentage'] > threshold
columns_above_threshold = nulls_percent_df[condition]
drop_columns_list = list(columns_above_threshold['columns_name'])
donors = donors.drop(columns=drop_columns_list)

In [7]:
# Dealing with the Nan and empty spaces
# Repleacing the empty spaces for the most present
donors['DOMAIN'].replace(' ', 'R2', inplace = True)

# I'm replacing the nulls for the mode

mode_values = donors.mode().iloc[0]
donors = donors.fillna(mode_values)

In [8]:
# Split the data into numerical and catagorical. Decide if any columns need their dtype changed.

numerical = donors.select_dtypes(include='number')
categorical = donors.select_dtypes(include='object')

In [9]:
# I'm converting the ZIP column to numerical and adding it to the numerical column
# Because the column has some non numeric value, I'm selecting only the numbers
categorical['ZIP'] = categorical['ZIP'].str.extract('(\d+)', expand=False)
numerical['ZIP'] = categorical['ZIP']
categorical = categorical.drop('ZIP', axis=1)

In [10]:
categorical = numerical.reset_index(drop=True)
numerical = numerical.reset_index(drop=True)

In [11]:
# Concatenate numerical and categorical back together again for your X dataframe. Designate the Target as y.

X = pd.concat([numerical, categorical], axis=1)
y = X['TARGET_B']
X = X.drop(['TARGET_B', 'TARGET_D'], axis=1)

In [12]:
numericalX = X.select_dtypes(include = [np.number])
categoricalX = X.select_dtypes(exclude = [np.number])

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(categoricalX)
encoded_categorical = encoder.transform(categoricalX).toarray()
encoded_categorical = pd.DataFrame(encoded_categorical)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numericalX_norm = scaler.fit_transform(numericalX)

In [14]:
numericalX_norm = pd.DataFrame(numericalX_norm, columns=numericalX.columns)

In [16]:
encoded_categorical

,0,1,2,3,4,5,6,7,8,9,...,32970,32971,32972,32973,32974,32975,32976,32977,32978,32979
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X = pd.concat([numericalX_norm, encoded_categorical], axis=1)

Encode the categorical features using One-Hot Encoding or Ordinal Encoding. (train_cat, test_cat)
fit only on train data transform both train and test
again re-concatenate train_num and train_cat as X_train as well as test_num and test_cat as X_test

In [ ]:


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.2)

In [ ]:
#  Fit a logistic regression model on the training data
#  Check the accuracy on the test data.

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
# from sklearn.preprocessing import StandardScaler

# because the data was already scaled and fit in previous steps, I'm defininf the model 

lr = LogisticRegression(random_state=42)
lr.fit(X_train, y_train)

# Predict on the test set
y_pred = lr.predict(X_test)

# Compute the accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100}%')